  $color-white: #fff;
  $color-grey: #777;
  $color-grey-light-1: #f7f7f7;
  $color-grey-light-2: #e6e6e6;
  $color-grey-light-3: #f2f2f2;
  $color-grey-dark: #b3b3b3;
  $color-grey-dark-2: #595959;
  $color-black: #000;
  $color-green: #55c57a;
  $color-red-light: #ff7730;
